<div class="opinion teaser" {{ attributes.addClass(classes) }}>
    <div class="image">
        {% if node.hasField('field_image') %}
            {{ content.field_image }}
        {% endif %}
    </div>
    <div class="tw-mr-6 published_date">{{ node.getCreatedTime() | format_date('complete_date') }}</div>
    <div class="tw-text-base mb-0">
        <a href="{{ url }}">{{ label }}</a>
    </div>
    <div class="pb-4" {{ author_attributes }}>
        {{ author_picture }}
    </div>
</div>