<div class="gol-partido video-player" {{ attributes.addClass(classes) }}>
    {% if node.hasField('field_mediastream') %}
        {{ content.field_mediastream }}
    {% endif %}
    <div class="title title-{{ node.id }}">
        <div class="tw-relative">
            <div class="torneo category left-0">{{ content.field_torneo }}</div>
            <a href="{{ url }}">{{ label }}</a>
        </div>
    </div>
</div>