<div class="columna-blog resumen-vertical" {{ attributes.addClass(classes) }}>
    <div class="md:tw-flex md:tw-items-top">
        <div class="image md:tw-w-1/2 tw-relative">
            {% if node.hasField('field_image_h') %}
                {{ content.field_image_h }}
            {% elseif node.hasField('field_image') %}
                {{ content.field_image }}
            {% endif %}
            <div class="tw-absolute tw-top-0 tw-left-0 play-icon tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center">
                <a href="{{ url }}"><img src="/themes/custom/tailwindcss/images/icons/play.png" alt="Play" class="play-icon tw-h-12 tw-w-12 opacity-100"></a>
            </div>
        </div>
        <div class="title-mobile text-sm md:tw-text-base md:tw-w-1/2 md:tw-pl-2">
            <a href="{{ url }}">{{ label }}</a>
            <div class="pb-4" {{ author_attributes }}>
                {{ author_picture }}
            </div>
        </div>
    </div>
</div>