<div class="gol-partido video-player" {{ attributes.addClass(classes) }}>
    {% if node.hasField('field_mediastream') %}
        {% if node.field_mediastream.value %}
            <div class="mediastream fixed-height mediastream-{{ node.id }} tw-w-full tw-h-full">
                {{ content.field_mediastream }}
            </div>
        {% endif %}
    {% endif %}
    <div class="title">
        <div class="tw-relative">
            <div class="torneo category left-0">{{ content.field_torneo }}</div>
            <a href="{{ url }}">{{ label }}</a>
        </div>
    </div>
</div>